$headerHeight: 2rem;
$headerBottom: 1rem;
$overallHeaderHeight: $headerHeight + $headerBottom;
$pageBtmMarg: 1rem;
$standardShadow: 1px 1px 2px 0px black;
$darkGray: rgba(40,40,40, .5);
$backgroundColor: #333;
$secondaryColor: #ddd;
$heroTime: 1.0s;
